


.btn-primary{
	background: #5DADE2;
    border: 1px solid #2a87a7;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

h2.pageTitle{
	margin-top: 10px;
	margin-left: 10px;
}


/*necessary for 1st column "selected" checkbox */
.table-bordered thead:first-child tr:first-child>th:first-child, 
.table-bordered tbody:first-child tr:first-child>td:first-child, 
.table-bordered tbody:first-child tr:first-child>th:first-child {width: 15px;}

/*fix border align between table cells */
.table-bordered th {
	 border-left: 0px solid #dddddd;
}
.table-bordered td {
    border-left: 1px solid #dddddd; 
}

/* primary backgroung theme */
.primary-background{border-color: #5DADE2; background-color: #5DADE2; color: #fff;}

.with-selected-bar {line-height:30px;height:40px;margin-bottom:10px;}
.with-selected-bar div.actionCtrl { padding:5px 0;display:block;float:left;line-height:36px;padding-left: 15px;}
.with-selected-bar .Select-control{	height:30px;width: 260px;}

input.input-xxxlarge{
	width: 1000px;
}

div.inline{
	float:left;
	margin-top:10px;
	margin-left:20px;	
}

input.h30 {
	height:30px;
}

table.table th {
	height:26px;
	padding: 2px 2px 2px 4px;
	font-size:13px
}

table.table td {	
	padding: 3px 2px 2px 3px;
	font-size:13px
}

input.form-control{
	height:30px;
}


.statsheading{
	background-color: #fff;
	color:#837b7b;
	height: 36px;
	border: 1px solid #dddddd;
	margin-left: 10px;
	margin-right: 10px;
	display: block;
    text-align: center;
    float: none;    
    text-shadow: 0 1px 0 #555555;
    text-transform: uppercase;
    font-size: 14pt;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0),inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0),inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0),inset -1px -1px 1px rgba(0, 0, 0, 0);
    height: 36px;
    line-height: 36px;
}

/** overrides date-picker */
.dt-picker{
	width:86px;
	float:left;			
	margin-right:10px;
	margin-left:10px;
}

