<html> 
<head>
	<title>
		App Prototype
	</title>
		<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">		
	 	 	
	<!-- Bootstrap v -->
	<link href="./resources/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="./resources/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />

	<!-- Glyphicons -->
	<link rel="stylesheet" href="./resources/theme/css/glyphicons.css" />
	<!-- Theme 	-->
	<link rel="stylesheet" href="./resources/theme/css/style.min.css?1363272390" />

	<!-- Bootstrap Jasny Extended-->
	<link href="./resources/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
	<link href="./resources/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">

	<!--3rd party react components -->
	<link href="./resources/css/plugins/react-table-pagination.css" rel="stylesheet" />
	<link href="./resources/css/plugins/react-datepicker.min.css" rel="stylesheet" />
	<link href="./resources/css/plugins/react-bootstrap-table.css" rel="stylesheet" />

	<!--Virtualized Select Component -->
	<link href="./resources/css/plugins/react-select.min.css" rel="stylesheet" />
	<link href="./resources/css/plugins/react-virtualized-styles.css" rel="stylesheet" />
	<link href="./resources/css/plugins/react-virtualized-select-styles.css" rel="stylesheet" />

	<link href="./resources/css/template.css" rel="stylesheet" />
	<link href="./resources/css/custom.css" rel="stylesheet" />

		<!--


        <link href="./resources/css/plugins/react-bootstrap-multiselect.css" rel="stylesheet" />
        <link href="./resources/css/plugins/react-collapsible-cm.css" rel="stylesheet" />
        <link href="./resources/css/plugins/chartist.min.css" rel="stylesheet" />
        <link href="./resources/css/plugins/chartist-legend-plugin.css" rel="stylesheet" />
        -->

	<!-- SCRIPTS -->
	<!-- JQuery v1.8.2 -->
	<script src="./resources/theme/scripts/jquery-1.8.2.min.js"></script>

	<!-- Bootstrap Script -->
	<script src="./resources/bootstrap/js/bootstrap.js"></script>

	

</head>
	
<body>
	
<div  id="root" class="container-fluid fixed">
	<div> 
		<div id="topMenuBar"></div>
				
		<div id="wrapper">	
			<div id="menu" className="hidden-phone"></div>
			<div id="content"></div>			
		</div>
				
		<div id="footer" class="visible-desktop">
			<div class="wrap"> </div>
		</div>
	</div>		
</div>

</body>

</html>